#register {
  text-align: center;
  height: 100vh;
  padding-top: 40px;
  .title {
    margin-bottom: 30px;
    font-size: 16px;
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    align-self: center;
    background: #fff;
    box-shadow: 0 1.4px 1.6px -3px rgba(0, 0, 0, 0.02),
      0 3.4px 3.8px -3px rgba(0, 0, 0, 0.028),
      0 6.4px 7.1px -3px rgba(0, 0, 0, 0.035),
      0 11.4px 12.7px -3px rgba(0, 0, 0, 0.042),
      0 21.3px 23.8px -3px rgba(0, 0, 0, 0.05),
      0 51px 57px -3px rgba(0, 0, 0, 0.07);
    border-radius: 9px;
    padding: 40px;
    justify-self: center;
    margin: auto;
    .input {
      margin-bottom: 30px;
    }
  }
}
